@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('../../public/fonts/fonts.css');

:root {
  --brand-blue: #becdca,
  --brand-red: #de4022,
}

body {
  background-color: #000;
}

.animationLateralScrollText {
  animation: scrollText 8s linear infinite;
}

@keyframes scrollText {
  from   { transform: translateX(0%); }
  to { transform: translateX(-50%); }
}

.box-shadow-cover {
  box-shadow: 0px 3px 12px 0px rgba(190, 205, 202, 0.25);
}

.gothic-font {
  font-family: 'Uberho', sans-serif;
}